


/*内容*/
body{
	width: 100%;
	height: 100%;
	background: #ebebeb;
}
.center{
	width:7.2rem;
	padding-top: 0.96rem;
}
.center .div-shou{
	margin-top:0.4rem;	
	width:7.2rem;
	height: 1.6rem;
	background: #ffffff;
}
.div-shou .ul-shou{
	width:7.2rem;
	height: 1.6rem;
}
.ul-shou li{
	float: left;
}
.ul-shou li:nth-child(1) img{
	width: 1.3rem;
	height: 1.3rem;
}
.ul-shou li:nth-child(3) img{
	z-index: 10;
	width: 0.4rem;
	height: 0.4rem;
}
.ul-shou li:nth-child(1){
	text-align: center;
	width: 1.9rem;
	height: 1.6rem;
	line-height: 1.6rem;
}
.ul-shou li:nth-child(2){
	text-align: left;
	width: 3.9rem;
	height: 1.6rem;
}
.ul-shou li:nth-child(2) p{
	margin-top: 0.4rem;
	font-size: 0.3rem;
	color: #000;
}
.ul-shou li:nth-child(2) span{
	line-height: 0.7rem;
	font-size: 0.25rem;
	color: #999999;
}
.ul-shou li:nth-child(3){
	text-align: center;
	width: 1.4rem;
	height: 1.6rem;
	line-height: 1.6rem;
}

.center ul{
	width:7.2rem;
}
.ul-xia li{
	width: 7.2rem;
	height: 0.98rem;
	line-height: 0.98rem;
	background: #ffffff;
}
.ul-xia li div{
	margin-left: 0.28rem;
	width: 6.64rem;
	height: 0.98rem;
}
.ul-xia li img{
	margin-bottom: 0.1rem;
	width: 0.54rem;
	height: 0.52rem;
}
.ul-xia li p{
	display: inline-block;
	width: 0.8rem;
	height: 0.98rem;
	text-align: center;

}
.ul-xia li span{
	margin-left: 0.24rem;
	font-size: 0.3rem;
	text-align: left;
	height: 0.98rem;
	
}

.ul-xia li:nth-child(1){
	margin-top: 0.42rem;
}
.ul-xia li:nth-child(2) {
	margin-top: 0.42rem;
}
.ul-xia li:nth-child(5){
	margin-top: 0.42rem;
}







