/*头部*/
.tou-gywx{
	width: 7.2rem;
	height: 0.96rem;
	line-height: 0.96rem;
	position: fixed;
	top: 0;
	z-index: 10;
	background: #393a3f;
	color: #fff;
	
}
.tou-gywx ul{
	width: 7.2rem;
	height: 0.96rem;
}
.tou-gywx ul li{
	height: 0.96rem;
	float: left;
	
}
.tou-gywx ul li:nth-child(1){
	font-size: 0.40rem;
	height: 0.96rem;
	width: 0.96rem;
	text-align: center;
}
.tou-gywx ul li:nth-child(2){
	height: 0.96rem;
	width: 2.3rem;
	
}
.tou-div{
	margin-top: 0.25rem;
	height: 0.46rem;
	line-height: 0.46rem;
	font-size: 0.3rem;
	text-indent: 0.8em;
	box-sizing: border-box;
	border-left: 0.02rem solid #000000;
}


/*内容*/
body{
	width: 100%;
	height: 100%;
	background: #ebebeb;
}
.center{
	width:7.2rem;
	padding-top: 0.96rem;
}
.ul-xia li{
	width: 7.2rem;
	height: 0.96rem;
	/*line-height: 0.96rem;*/
	background: #ffffff;
	font-size: 0.3rem;
}
.ul-xia li div{
	background: #ffffff;
	margin-left: 0.28rem;
	width: 6.64rem;
	height: 100%;
}

.fa-toggle-off{
	font-size: 0.65rem;
	margin-top: 0.15rem;
	display: block;
}
.fa-toggle-on{
	font-size: 0.65rem;
	margin-top: 0.15rem;
	color: #46C01B;
	display: none;
}
.ul-xia li p{
	display: inline-block;
	width: 2.44rem;
	font-size: 0.25rem;
	color: #ccc;
	text-align: right;
}
.ul-xia li span{
	display: inline-block;
	width: 4.2rem;
	height: 0.96rem;
	line-height: 0.96rem;
	text-align: left;
	
}
.ul-xia li:first-child{
 	height: 2rem;
	margin-top: 0.42rem;
}

.ul-xia .nei-n{
	text-align:left;
	width: 6.5rem;
 	font-size: 0.25rem;
	color: #ccc;
}
